# Dragonfly Data Segregation and Cleaning

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import datefinder
#from dateutil import parser
from date_extractor import extract_dates
#from nltk.tag import StanfordNERTagger
#from cliff.api import Cliff
#from geotext import GeoText
import geograpy3
from googlegeocoder import GoogleGeocoder
from geopy.geocoders import Nominatim
import geocoder

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /home/sic_mundus/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /home/sic_mundus/nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package treebank to
[nltk_data]     /home/sic_mundus/nltk_data...
[nltk_data]   Package treebank is already up-to-date!
[nltk_data] Downloading package maxent_treebank_pos_tagger to
[nltk_data]     /home/sic_mundus/nltk_data...
[nltk_data]   Package maxent_treebank_pos_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to /home/sic_mundus/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/sic_mundus/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

## Read and Clean Data

In [3]:
data=pd.read_csv("data_600.csv")
fdata=pd.read_csv("data_600.csv")
tpdata=pd.read_csv("data_600.csv")
data["feed__data__message"]=data["feed__data__message"].str.lower()
tpdata["feed__data__message"]=data["feed__data__message"].str.lower()
data.drop(["feed__data__id","feed__paging__previous","feed__paging__next","id"],axis=1,inplace=True)
fdata.drop(["feed__data__id","feed__paging__previous","feed__paging__next","id"],axis=1,inplace=True)
tpdata.drop(["feed__data__id","feed__paging__previous","feed__paging__next","id"],axis=1,inplace=True)
data.dropna(inplace=True)
fdata.dropna(inplace=True)
tpdata.dropna(inplace=True)
print(data.describe())
data.head(15)

                   feed__data__message  feed__data__updated_time
count                              584                       584
unique                             555                       584
top     i'd please\nnagoa goa\n1/12/19  2019-09-11T03:39:15+0000
freq                                 4                         1

,feed__data__message,feed__data__updated_time
0,emerald spreadwing\n(lestes elatus)\n@mayiladu...,2020-03-08T09:07:54+0000
1,id please.near mudigere.chikmagalur district.f...,2020-03-02T08:26:03+0000
2,*\n***light-tipped demon** (male dragonfly)*\n...,2020-02-29T05:49:29+0000
3,clear winged forest glory - vestalis gracilis\...,2020-02-28T07:47:34+0000
4,id please\n\nlocation - balurghat ... d/dinajp...,2020-02-27T18:22:34+0000
5,"black-tailed dasher\n\nbrachydiplax farinosa, ...",2020-02-27T12:53:29+0000
6,"ceriagrion sp. \n\nraimatang, alipurduar distr...",2020-02-27T12:52:50+0000
7,my little contribution in indian odonatology\n...,2020-02-26T17:29:36+0000
8,id please,2020-02-26T12:54:59+0000
9,[green marsh hawk (orthetrum sabina)](https://...,2020-02-24T17:36:12+0000
10,id please.\nplace. pune maharashtra\ndate. nov...,2020-02-24T05:11:31+0000
11,"id please, shendurney wildlife sanctuary, kera...",2020-02-22T13:58:36+0000
12,stream glory (neurobasis chinensis)\n\ntrail a...,2020-02-22T13:22:55+0000
13,"crimson dropwing (trithemis aurora), female\n\...",2020-02-22T02:19:32+0000
14,yellow-tailed ashy skimmer (potamarcha congene...,2020-02-22T02:18:02+0000

In [4]:
data["species_name"]=data["feed__data__message"].str.find("vestalis gracilis")
fdata["species_name"]=fdata["feed__data__message"].str.find("vestalis gracilis")

In [5]:
data.head()

,feed__data__message,feed__data__updated_time,species_name
0,emerald spreadwing\n(lestes elatus)\n@mayiladu...,2020-03-08T09:07:54+0000,-1
1,id please.near mudigere.chikmagalur district.f...,2020-03-02T08:26:03+0000,-1
2,*\n***light-tipped demon** (male dragonfly)*\n...,2020-02-29T05:49:29+0000,-1
3,clear winged forest glory - vestalis gracilis\...,2020-02-28T07:47:34+0000,28
4,id please\n\nlocation - balurghat ... d/dinajp...,2020-02-27T18:22:34+0000,-1

## Read Species list and convert to Lower case

In [6]:
species=pd.read_csv("Dragonfly_species.csv")
species["Aciagrion"]=species["Aciagrion"].str.lower()
species["Aciagrion"]=species["Aciagrion"].str.split()
species.head(15)

                                            Aciagrion
0                            [aciagrion, approximans]
1                                [aciagrion, azureum]
2         [aciagrion, hisopa, hisopa, (selys,, 1876)]
3                        [aciagrion, hisopa, krishna]
4            [aciagrion, occidentale, laidlaw,, 1919]
5                              [aciagrion, olympicum]
6                 [aciagrion, pallidum, selys,, 1891]
7              [aciagrion, tillyardi, laidlaw,, 1919]
8                                           [acisoma]
9   [acisoma, panorpoides, panorpoides, rambur,, 1...
10                                      [acrogomphus]
11                             [acrogomphus, fraseri]
12                              [acrogomphus, mohani]
13                                           [aeshna]
14          [aeshna, flavifrons, lichtenstein,, 1976]

## Add common name list

In [7]:
common_name=pd.read_csv("Common_names.csv")
common_name.dropna(inplace=True)
common_name.to_csv("cname.csv")
tpdata.head()

                                 feed__data__message  feed__data__updated_time
0  emerald spreadwing\n(lestes elatus)\n@mayiladu...  2020-03-08T09:07:54+0000
1  id please.near mudigere.chikmagalur district.f...  2020-03-02T08:26:03+0000
2  *\n***light-tipped demon** (male dragonfly)*\n...  2020-02-29T05:49:29+0000
3  clear winged forest glory - vestalis gracilis\...  2020-02-28T07:47:34+0000
4  id please\n\nlocation - balurghat ... d/dinajp...  2020-02-27T18:22:34+0000

## Clean species Data

In [8]:
s = " "
sk = []
for i in range(0,699):
    spe = s.join((species["Aciagrion"][i])[:2])
    sk.append(spe)

## Compare and match species name

In [9]:
for i in range(0,699):
    data[sk[i]]=data["feed__data__message"].str.find(sk[i])

In [10]:
datax=data.iloc[:,7:-1]
listt=datax.columns
#listt[1]
datax.head()

,aciagrion olympicum,aciagrion pallidum,aciagrion tillyardi,acisoma,acisoma panorpoides,acrogomphus,acrogomphus fraseri,acrogomphus mohani,aeshna,aeshna flavifrons,...,urothemis,urothemis signata,"urothemis signata,",vestalis,vestalis apicalis,vestalis gracilis,vestalis smaragdina,zygonyx,zygonyx iris,zygonyx torrida
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,28,-1,28,-1,-1,-1,-1
4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

## Add Species name to the dataset

In [11]:
print(listt)
for i in range(0,584):
    for j in listt:
        if datax[j].iloc[i] >= 0:
            #print(j)
            fdata["species_name"].iloc[i]=j

Index(['aciagrion olympicum', 'aciagrion pallidum', 'aciagrion tillyardi',
       'acisoma', 'acisoma panorpoides', 'acrogomphus', 'acrogomphus fraseri',
       'acrogomphus mohani', 'aeshna', 'aeshna flavifrons',
       ...
       'urothemis', 'urothemis signata', 'urothemis signata,', 'vestalis',
       'vestalis apicalis', 'vestalis gracilis', 'vestalis smaragdina',
       'zygonyx', 'zygonyx iris', 'zygonyx torrida'],
      dtype='object', length=643)

/home/sic_mundus/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
for i in range(0,584):
    fdata["species_name"].iloc[i]=str(fdata["species_name"].iloc[i])
print(fdata["species_name"].iloc[0])
for i in range(0,584):
    #print(fdata["species_name"].iloc[i])
    tpdata["feed__data__message"].iloc[i]=tpdata["feed__data__message"].iloc[i].replace(fdata["species_name"].iloc[i],' ')

lestes elatus

## Process Common Names

In [13]:
cname=pd.read_csv("cname.csv")
cname["COMMON NAME"]=cname["COMMON NAME"].str.lower()
cname.head()

   Unnamed: 0                 SPECIES                  COMMON NAME
0           1     Heliocypha perforata           common blue jewel
1           2       Cratilla metallica  dark-tipped forest-skimmer
2           5    Neurothemis fluctuans              common parasol
3          11  Ictinogomphus decoratus           common flangetail
4          14          Platycnemididae    white-legged damselflies

In [14]:
s = " "
sk1 = []
for i in range(0,108):
    spe = (cname["COMMON NAME"][i])
    sk1.append(spe)
sk1

['common blue jewel',
 'dark-tipped forest-skimmer',
 'common parasol',
 'common flangetail',
 'white-legged damselflies',
 'perchers',
 'two-striped telamonia',
 'emperor dragonfly',
 'emerald dwarf',
 'double-spined darners and duskhawkers',
 'sapphire flutterer',
 'grenadier',
 'giant river hawker',
 'dusky spreadwing',
 'amber-winged glider',
 'dropwings',
 'orange-tailed sprite',
 'dragonflies and damselflies',
 'pond spreadwings',
 'clubtails',
 'emerald-banded skimmer',
 'antlions and owlflies',
 'meadowhawks',
 'pied skimmer',
 'spiketails',
 'greater bluewing',
 'broad-winged damselflies',
 'darners',
 'fiery emperor',
 'forktails',
 'elephant emperor',
 'scalloped spreadwing',
 'common red skimmer',
 'slender blue skimmer',
 'aurora bluetail',
 'saddlebag gliders',
 'little skimmer',
 'red-tipped shadefly',
 'blue-tailed yellow skimmer',
 'stream ruby',
 'golden gem',
 'variable wisp',
 'orange-striped threadtail',
 'lesser emperor',
 'indian duskhawker',
 'dingy duskhawker',
 'orange marsh dart',
 'vagrant emperor',
 'spine-tufted skimmer',
 'asian blood tail',
 'look-alike sprite',
 'wandering pennant',
 "kirby's dropwing",
 'oriental blue dasher',
 'yellow featherlegs',
 'blue-tailed forest hawk',
 'dancing dropwing',
 'narrow-winged damselflies',
 'charcoal-winged percher',
 'grizzled pintail',
 'pixie dartlet',
 'jewels',
 'black stream glider',
 'milky midget',
 'azure dartlet',
 'crimson dropwing',
 'pale-spotted emperor',
 'scarlet marsh hawk',
 'keyhole glider',
 'black-winged bambootail',
 'three striped blue dart',
 'dingy dusk-darter',
 'emerald spreadwing',
 'little blue marsh hawk',
 'dusky lilysquatter',
 'russet percher',
 'orange-tailed marsh dart',
 'stream glory',
 'scarlet basker',
 'ferruginous glider',
 'yellow-tailed ashy skimmer',
 'skimmers',
 'damselflies',
 'dragonflies',
 'black marsh skimmer',
 'blue marsh hawk',
 'common clubtail',
 'granite ghost',
 'crimson-tailed marsh hawk',
 'orange-faced sprite',
 'african bluetail',
 'coromandel marsh dart',
 'scarlet skimmers',
 'emerald-flanked marsh hawk',
 'twister',
 'blue riverdamsel',
 'rufous marsh glider',
 'lined hooktail',
 'black-kneed featherleg',
 'wandering glider',
 'pied paddy skimmer',
 'wandering midget',
 'green marsh hawk',
 'scarlet skimmer',
 'ditch jewel',
 'common picture wing',
 'marsh dancer',
 'chalky percher']

In [15]:
for i in range(0,108):
    tpdata[sk1[i]]=tpdata["feed__data__message"].str.find(sk1[i])

In [16]:
datay=tpdata.iloc[:,2:]
listt1=datay.columns
datay.head()

,common blue jewel,dark-tipped forest-skimmer,common parasol,common flangetail,white-legged damselflies,perchers,two-striped telamonia,emperor dragonfly,emerald dwarf,double-spined darners and duskhawkers,...,black-kneed featherleg,wandering glider,pied paddy skimmer,wandering midget,green marsh hawk,scarlet skimmer,ditch jewel,common picture wing,marsh dancer,chalky percher
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [17]:
for i in range(0,584):
    for j in listt1:
        if datay[j].iloc[i] >= 0:
            tpdata["common blue jewel"].iloc[i]=j

In [18]:
tpdata=tpdata.iloc[:,:3]
tpdata.head()
fdata["Common Name"]=tpdata["common blue jewel"]
fdata.head()

,feed__data__message,feed__data__updated_time,species_name,Common Name
0,Emerald Spreadwing\n(Lestes elatus)\n@Mayiladu...,2020-03-08T09:07:54+0000,lestes elatus,emerald spreadwing
1,Id please.Near Mudigere.Chikmagalur district.F...,2020-03-02T08:26:03+0000,-1,-1
2,*\n***Light-tipped Demon** (Male dragonfly)*\n...,2020-02-29T05:49:29+0000,"indothemis carnatica,",-1
3,Clear winged Forest Glory - Vestalis gracilis\...,2020-02-28T07:47:34+0000,vestalis gracilis,-1
4,Id please\n\nLocation - balurghat ... D/Dinajp...,2020-02-27T18:22:34+0000,-1,-1

## Remove Delimiters

In [19]:
for i in range(0,584):
    #print(data["feed__data__message"].iloc[i])
    #data["feed__data__message"].iloc[i]=data["feed__data__message"].iloc[i].split("\n")
    #data["feed__data__message"].iloc[i]=" ".join(data["feed__data__message"].iloc[i])
    #data["feed__data__message"].iloc[i]=data["feed__data__message"].iloc[i].replace('\r',' ')
    fdata["feed__data__message"].iloc[i]=fdata["feed__data__message"].iloc[i].replace('\\n',' ')
fdata.head()

,feed__data__message,feed__data__updated_time,species_name,Common Name
0,Emerald Spreadwing (Lestes elatus) @Mayiladuth...,2020-03-08T09:07:54+0000,lestes elatus,emerald spreadwing
1,Id please.Near Mudigere.Chikmagalur district.F...,2020-03-02T08:26:03+0000,-1,-1
2,* ***Light-tipped Demon** (Male dragonfly)* In...,2020-02-29T05:49:29+0000,"indothemis carnatica,",-1
3,Clear winged Forest Glory - Vestalis gracilis ...,2020-02-28T07:47:34+0000,vestalis gracilis,-1
4,Id please Location - balurghat ... D/Dinajpur...,2020-02-27T18:22:34+0000,-1,-1

## Finding Dates

In [20]:
date_list=[]
for i in range(0,584):
    dates=extract_dates(fdata["feed__data__message"].iloc[i])
    date_list.append(dates)
#date_list

In [21]:
for i in range(0,584):
    fdata["feed__data__updated_time"].iloc[i]=date_list[i]

In [22]:
fdata["Location_list"]=fdata["feed__data__message"].str.find("vestalis gracilis")
fdata.head()

,feed__data__message,feed__data__updated_time,species_name,Common Name,Location_list
0,Emerald Spreadwing (Lestes elatus) @Mayiladuth...,[2020-01-01 00:00:00+00:00],lestes elatus,emerald spreadwing,-1
1,Id please.Near Mudigere.Chikmagalur district.F...,[2020-02-01 00:00:00+00:00],-1,-1,-1
2,* ***Light-tipped Demon** (Male dragonfly)* In...,[2020-02-29 00:00:00+00:00],"indothemis carnatica,",-1,-1
3,Clear winged Forest Glory - Vestalis gracilis ...,[2020-02-01 00:00:00+00:00],vestalis gracilis,-1,-1
4,Id please Location - balurghat ... D/Dinajpur...,[2020-02-27 00:00:00+00:00],-1,-1,-1

## Location

In [23]:
qwerty=[]
for i in range(0,584):
    places = geograpy3.get_place_context(text=fdata["feed__data__message"].iloc[i])
    # print(fdata["feed__data__message"].iloc[i])
    x=places.regions
    qwerty.append(" ".join(x))
    print("completed",i,"/584")
    #print(places.regions)
#qwerty

completed 0 /584
completed 1 /584
completed 2 /584
completed 3 /584
completed 4 /584
completed 5 /584
completed 6 /584
completed 7 /584
completed 8 /584
completed 9 /584
completed 10 /584
completed 11 /584
completed 12 /584
completed 13 /584
completed 14 /584
completed 15 /584
completed 16 /584
completed 17 /584
completed 18 /584
completed 19 /584
completed 20 /584
completed 21 /584
completed 22 /584
completed 23 /584
completed 24 /584
completed 25 /584
completed 26 /584
completed 27 /584
completed 28 /584
completed 29 /584
completed 30 /584
completed 31 /584
completed 32 /584
completed 33 /584
completed 34 /584
completed 35 /584
completed 36 /584
completed 37 /584
completed 38 /584
completed 39 /584
completed 40 /584
completed 41 /584
completed 42 /584
completed 43 /584
completed 44 /584
completed 45 /584
completed 46 /584
completed 47 /584
completed 48 /584
completed 49 /584
completed 50 /584
completed 51 /584
completed 52 /584
completed 53 /584
completed 54 /584
completed 55 /584
completed 56 /584
completed 57 /584
completed 58 /584
completed 59 /584
completed 60 /584
completed 61 /584
completed 62 /584
completed 63 /584
completed 64 /584
completed 65 /584
completed 66 /584
completed 67 /584
completed 68 /584
completed 69 /584
completed 70 /584
completed 71 /584
completed 72 /584
completed 73 /584
completed 74 /584
completed 75 /584
completed 76 /584
completed 77 /584
completed 78 /584
completed 79 /584
completed 80 /584
completed 81 /584
completed 82 /584
completed 83 /584
completed 84 /584
completed 85 /584
completed 86 /584
completed 87 /584
completed 88 /584
completed 89 /584
completed 90 /584
completed 91 /584
completed 92 /584
completed 93 /584
completed 94 /584
completed 95 /584
completed 96 /584
completed 97 /584
completed 98 /584
completed 99 /584
completed 100 /584
completed 101 /584
completed 102 /584
completed 103 /584
completed 104 /584
completed 105 /584
completed 106 /584
completed 107 /584
completed 108 /584
completed 109 /584
completed 110 /584
completed 111 /584
completed 112 /584
completed 113 /584
completed 114 /584
completed 115 /584
completed 116 /584
completed 117 /584
completed 118 /584
completed 119 /584
completed 120 /584
completed 121 /584
completed 122 /584
completed 123 /584
completed 124 /584
completed 125 /584
completed 126 /584
completed 127 /584
completed 128 /584
completed 129 /584
completed 130 /584
completed 131 /584
completed 132 /584
completed 133 /584
completed 134 /584
completed 135 /584
completed 136 /584
completed 137 /584
completed 138 /584
completed 139 /584
completed 140 /584
completed 141 /584
completed 142 /584
completed 143 /584
completed 144 /584
completed 145 /584
completed 146 /584
completed 147 /584
completed 148 /584
completed 149 /584
completed 150 /584
completed 151 /584
completed 152 /584
completed 153 /584
completed 154 /584
completed 155 /584
completed 156 /584
completed 157 /584
completed 158 /584
completed 159 /584
completed 160 /584
completed 161 /584
completed 162 /584
completed 163 /584
completed 164 /584
completed 165 /584
completed 166 /584
completed 167 /584
completed 168 /584
completed 169 /584
completed 170 /584
completed 171 /584
completed 172 /584
completed 173 /584
completed 174 /584
completed 175 /584
completed 176 /584
completed 177 /584
completed 178 /584
completed 179 /584
completed 180 /584
completed 181 /584
completed 182 /584
completed 183 /584
completed 184 /584
completed 185 /584
completed 186 /584
completed 187 /584
completed 188 /584
completed 189 /584
completed 190 /584
completed 191 /584
completed 192 /584
completed 193 /584
completed 194 /584
completed 195 /584
completed 196 /584
completed 197 /584
completed 198 /584
completed 199 /584
completed 200 /584
completed 201 /584
completed 202 /584
completed 203 /584
completed 204 /584
completed 205 /584
completed 206 /584
completed 207 /584
completed 208 /584
completed 209 /584
completed 210 /584
completed 211 /584
completed 212 /584
completed 213 /584
completed 214 /584
completed 215 /584
completed 216 /584
completed 217 /584
completed 218 /584
completed 219 /584
completed 220 /584
completed 221 /584
completed 222 /584
completed 223 /584
completed 224 /584
completed 225 /584
completed 226 /584
completed 227 /584
completed 228 /584
completed 229 /584
completed 230 /584
completed 231 /584
completed 232 /584
completed 233 /584
completed 234 /584
completed 235 /584
completed 236 /584
completed 237 /584
completed 238 /584
completed 239 /584
completed 240 /584
completed 241 /584
completed 242 /584
completed 243 /584
completed 244 /584
completed 245 /584
completed 246 /584
completed 247 /584
completed 248 /584
completed 249 /584
completed 250 /584
completed 251 /584
completed 252 /584
completed 253 /584
completed 254 /584
completed 255 /584
completed 256 /584
completed 257 /584
completed 258 /584
completed 259 /584
completed 260 /584
completed 261 /584
completed 262 /584
completed 263 /584
completed 264 /584
completed 265 /584
completed 266 /584
completed 267 /584
completed 268 /584
completed 269 /584
completed 270 /584
completed 271 /584
completed 272 /584
completed 273 /584
completed 274 /584
completed 275 /584
completed 276 /584
completed 277 /584
completed 278 /584
completed 279 /584
completed 280 /584
completed 281 /584
completed 282 /584
completed 283 /584
completed 284 /584
completed 285 /584
completed 286 /584
completed 287 /584
completed 288 /584
completed 289 /584
completed 290 /584
completed 291 /584
completed 292 /584
completed 293 /584
completed 294 /584
completed 295 /584
completed 296 /584
completed 297 /584
completed 298 /584
completed 299 /584
completed 300 /584
completed 301 /584
completed 302 /584
completed 303 /584
completed 304 /584
completed 305 /584
completed 306 /584
completed 307 /584
completed 308 /584
completed 309 /584
completed 310 /584
completed 311 /584
completed 312 /584
completed 313 /584
completed 314 /584
completed 315 /584
completed 316 /584
completed 317 /584
completed 318 /584
completed 319 /584
completed 320 /584
completed 321 /584
completed 322 /584
completed 323 /584
completed 324 /584
completed 325 /584
completed 326 /584
completed 327 /584
completed 328 /584
completed 329 /584
completed 330 /584
completed 331 /584
completed 332 /584
completed 333 /584
completed 334 /584
completed 335 /584
completed 336 /584
completed 337 /584
completed 338 /584
completed 339 /584
completed 340 /584
completed 341 /584
completed 342 /584
completed 343 /584
completed 344 /584
completed 345 /584
completed 346 /584
completed 347 /584
completed 348 /584
completed 349 /584
completed 350 /584
completed 351 /584
completed 352 /584
completed 353 /584
completed 354 /584
completed 355 /584
completed 356 /584
completed 357 /584
completed 358 /584
completed 359 /584
completed 360 /584
completed 361 /584
completed 362 /584
completed 363 /584
completed 364 /584
completed 365 /584
completed 366 /584
completed 367 /584
completed 368 /584
completed 369 /584
completed 370 /584
completed 371 /584
completed 372 /584
completed 373 /584
completed 374 /584
completed 375 /584
completed 376 /584
completed 377 /584
completed 378 /584
completed 379 /584
completed 380 /584
completed 381 /584
completed 382 /584
completed 383 /584
completed 384 /584
completed 385 /584
completed 386 /584
completed 387 /584
completed 388 /584
completed 389 /584
completed 390 /584
completed 391 /584
completed 392 /584
completed 393 /584
completed 394 /584
completed 395 /584
completed 396 /584
completed 397 /584
completed 398 /584
completed 399 /584
completed 400 /584
completed 401 /584
completed 402 /584
completed 403 /584
completed 404 /584
completed 405 /584
completed 406 /584
completed 407 /584
completed 408 /584
completed 409 /584
completed 410 /584
completed 411 /584
completed 412 /584
completed 413 /584
completed 414 /584
completed 415 /584
completed 416 /584
completed 417 /584
completed 418 /584
completed 419 /584
completed 420 /584
completed 421 /584
completed 422 /584
completed 423 /584
completed 424 /584
completed 425 /584
completed 426 /584
completed 427 /584
completed 428 /584
completed 429 /584
completed 430 /584
completed 431 /584
completed 432 /584
completed 433 /584
completed 434 /584
completed 435 /584
completed 436 /584

completed 437 /584
completed 438 /584
completed 439 /584
completed 440 /584
completed 441 /584
completed 442 /584
completed 443 /584
completed 444 /584
completed 445 /584
completed 446 /584
completed 447 /584
completed 448 /584
completed 449 /584
completed 450 /584
completed 451 /584
completed 452 /584
completed 453 /584
completed 454 /584
completed 455 /584
completed 456 /584
completed 457 /584
completed 458 /584
completed 459 /584
completed 460 /584
completed 461 /584
completed 462 /584
completed 463 /584
completed 464 /584
completed 465 /584
completed 466 /584
completed 467 /584
completed 468 /584
completed 469 /584
completed 470 /584
completed 471 /584
completed 472 /584
completed 473 /584
completed 474 /584
completed 475 /584
completed 476 /584
completed 477 /584
completed 478 /584
completed 479 /584
completed 480 /584
completed 481 /584
completed 482 /584
completed 483 /584
completed 484 /584
completed 485 /584
completed 486 /584
completed 487 /584
completed 488 /584
completed 489 /584
completed 490 /584
completed 491 /584
completed 492 /584
completed 493 /584
completed 494 /584
completed 495 /584
completed 496 /584
completed 497 /584
completed 498 /584
completed 499 /584
completed 500 /584
completed 501 /584
completed 502 /584
completed 503 /584
completed 504 /584
completed 505 /584
completed 506 /584
completed 507 /584
completed 508 /584
completed 509 /584
completed 510 /584
completed 511 /584
completed 512 /584
completed 513 /584
completed 514 /584
completed 515 /584
completed 516 /584
completed 517 /584
completed 518 /584
completed 519 /584
completed 520 /584
completed 521 /584
completed 522 /584
completed 523 /584
completed 524 /584
completed 525 /584
completed 526 /584
completed 527 /584
completed 528 /584
completed 529 /584
completed 530 /584
completed 531 /584
completed 532 /584
completed 533 /584
completed 534 /584
completed 535 /584
completed 536 /584
completed 537 /584
completed 538 /584
completed 539 /584
completed 540 /584
completed 541 /584
completed 542 /584
completed 543 /584
completed 544 /584
completed 545 /584
completed 546 /584
completed 547 /584
completed 548 /584
completed 549 /584
completed 550 /584
completed 551 /584
completed 552 /584
completed 553 /584
completed 554 /584
completed 555 /584
completed 556 /584
completed 557 /584
completed 558 /584
completed 559 /584
completed 560 /584
completed 561 /584
completed 562 /584
completed 563 /584
completed 564 /584
completed 565 /584
completed 566 /584
completed 567 /584
completed 568 /584
completed 569 /584
completed 570 /584
completed 571 /584
completed 572 /584
completed 573 /584
completed 574 /584
completed 575 /584
completed 576 /584
completed 577 /584
completed 578 /584
completed 579 /584
completed 580 /584
completed 581 /584
completed 582 /584
completed 583 /584

## Remove Species name and Common name from Locatiob Data

In [24]:
species1=pd.read_csv("Dragonfly_species.csv")
#species1["Aciagrion"].str.split()
cname1=pd.read_csv("cname.csv")

In [25]:
cname1["COMMON NAME"]=cname1["COMMON NAME"].str.split()
cname1.head()

   Unnamed: 0                 SPECIES                     COMMON NAME
0           1     Heliocypha perforata          [Common, Blue, Jewel]
1           2       Cratilla metallica  [Dark-tipped, Forest-skimmer]
2           5    Neurothemis fluctuans              [Common, Parasol]
3          11  Ictinogomphus decoratus           [Common, Flangetail]
4          14          Platycnemididae    [White-legged, damselflies]

## Create a list of all Common Names

In [26]:
names=[]
for i in range(0,108):
    for j in cname1["COMMON NAME"].iloc[i]:
        names.append(j)
len(names)

233

## Remove Irrelevant Location Data

In [27]:
for i in range(0,584):
    for j in range(0,699):
        if len(qwerty[i]) != 0:
            qwerty[i]=qwerty[i].replace(species1["Aciagrion"].iloc[j],' ')

for i in range(0,584):
    for j in range(0,233):
        if len(qwerty[i]) != 0:
            qwerty[i]=qwerty[i].replace(names[j],' ')      
fdata["Location_list"]=qwerty

In [28]:
fdata

,feed__data__message,feed__data__updated_time,species_name,Common Name,Location_list
0,Emerald Spreadwing (Lestes elatus) @Mayiladuth...,[2020-01-01 00:00:00+00:00],lestes elatus,emerald spreadwing,Tamil Nadu India January
1,Id please.Near Mudigere.Chikmagalur district.F...,[2020-02-01 00:00:00+00:00],-1,-1,
2,* ***Light-tipped Demon** (Male dragonfly)* In...,[2020-02-29 00:00:00+00:00],"indothemis carnatica,",-1,Male Tamil Nadu Arajush P INDIA Chennai
3,Clear winged Forest Glory - Vestalis gracilis ...,[2020-02-01 00:00:00+00:00],vestalis gracilis,-1,Kudremukh Ranges Clear
4,Id please Location - balurghat ... D/Dinajpur...,[2020-02-27 00:00:00+00:00],-1,-1,Id Location
5,"Black-Tailed Dasher Brachydiplax farinosa, ma...",[2018-07-22 00:00:00+00:00],brachydiplax farinosa,-1,West India Barddhaman West Bengal
6,"Ceriagrion sp. Raimatang, Alipurduar distric...",[2019-11-01 00:00:00+00:00],ceriagrion,-1,Alipurduar Raimatang Bengal West
7,My little contribution in Indian Odonatology ...,"[2020-02-26 00:00:00+00:00, 2016-01-10 00:00:0...",-1,dragonflies,Odonata Asansol Journal South Asia Threatene...
8,Id please,[],-1,-1,Id
9,[Green Marsh Hawk (Orthetrum sabina)](https://...,[2019-11-01 00:00:00+00:00],orthetrum sabina,green marsh hawk,Alipurduar Raimatang Bengal West
10,Id please. Place. Pune maharashtra Date. Nov 2020,[2020-11-01 00:00:00+00:00],-1,-1,Id
11,"ID Please, Shendurney Wildlife Sanctuary, Kera...",[2019-12-01 00:00:00+00:00],-1,-1,India Shendurney Wildlife Kerala
12,Stream Glory (Neurobasis chinensis) Trail alo...,[2019-11-01 00:00:00+00:00],neurobasis chinensis,stream glory,Jayanti Buxa Tiger Reserve
13,"Crimson Dropwing (Trithemis aurora), female K...",[2019-12-01 00:00:00+00:00],trithemis aurora,crimson dropwing,Mangalore Western Ghats
14,Yellow-tailed Ashy Skimmer (Potamarcha congene...,[2019-11-01 00:00:00+00:00],potamarcha congener,yellow-tailed ashy skimmer,Bengal Santalabari West Buxa Tiger Reserve
15,Black Stream Glider (Trithemis festiva) Kolla...,[2019-12-01 00:00:00+00:00],trithemis festiva,black stream glider,Kollamogaru Mangalore Western Ghats
16,"Brown-backed Red Marsh Hawk, (Orthetrum chrysi...",[2019-12-01 00:00:00+00:00],orthetrum chrysis,-1,Kollamogaru Mangalore Western Ghats
17,Black Stream Glider (Trithemis festiva) Thodi...,[2019-12-01 00:00:00+00:00],trithemis festiva,black stream glider,Mangalore Thodikana
18,Stream Glory (Neurobasis chinensis) Thodikana...,[2019-12-01 00:00:00+00:00],neurobasis chinensis,stream glory,Mangalore Muhamed Sherif ID Thodikana
19,"Crimson Dropwing (Trithemis aurora), female K...",[2019-12-01 00:00:00+00:00],trithemis aurora,crimson dropwing,Mangalore Western Ghats
20,Scarlet Skimmer (Crocothemis servilia) Kollam...,[2019-12-01 00:00:00+00:00],crocothemis servilia,scarlet skimmer,Kollamogaru Mangalore Western Ghats
21,Tandem posture of Saffron-faced Blue Dart... (...,[2020-01-01 00:00:00+00:00],pseudagrion rubriceps,-1,T em Male
23,Crimson Marsh Glider (Trithemis aurora) Thodi...,[2019-12-01 00:00:00+00:00],trithemis aurora,-1,Mangalore Thodikana
24,Diplacodes Trivialis ID courtesy Antoine van...,[2020-02-12 00:00:00+00:00],diplacodes trivialis,-1,Trivialis ID Kerala Kollam Dt. Antoine Heijden...
25,Diplacodes trivialis.....Coimbatore...Feb 20,[2020-02-01 00:00:00+00:00],diplacodes trivialis,-1,
26,"Fulvous Forest Skimmer (Neurothemis fulvia), ...",[2019-12-01 00:00:00+00:00],urothemis,-1,Mangalore Fulvous
27,Valentine's Day Spcl... Appendages at the abdo...,[2019-01-01 00:00:00+00:00],ceriagrion coromandelianum,coromandel marsh dart,Corom el Valentine Odonates
28,Senegal Golden Dartlet (heteromorphic female) ...,[2020-01-01 00:00:00+00:00],ischnura senegalensis,-1,let Tamil Nadu Senegal
29,"Dragonfly F 5. 6, Iso 100, Shutter speed 1/20...","[2020-12-02 00:00:00+00:00, None]",-1,-1,India Shutter
30,request ID please....Palghat...Feb 20,[2020-02-01 00:00:00+00:00],-1,-1,
...,...,...,...,...,...
570,id updated : Tramea limbata Kadma : Bankura :...,[2019-11-07 00:00:00+00:00],tramea limbata,-1,Kadma
571,"* *Ischnura * mildredae, sometimes considered ...",[2018-03-26 00:00:00+00:00],ischnura rufostigma,-1,Khonoma Nagal Shantanu Joshi Antoine Heijden
572,"ID request Seobagh, Kullu, Himachalpradesh 08....",[2013-08-06 00:00:00+00:00],-1,-1,Kullu Seobagh
573,"ID Request Parshar Lake, Mandi, Himachal Prade...","[2006-01-01 00:00:00+00:00, 2013-01-01 00:00:0...",-1,-1,Request Parshar Lake Himachal Pradesh M i
574,* **Scarlet or Ruddy Marsh Skimmer** *Crocothe...,[2017-05-08 00:00:00+00:00],crocothemis servilia,ditch jewel,Mysore Ruddy KRS Karnataka Thanks Benoît Gui...
575,* ***Scarlet Rock Glider **Trithemis kirbyi *m...,"[2009-02-01 00:00:00+00:00, 2017-01-01 00:00:0...",trithemis kirbyi,-1,Thanks Noppadon Makbun Mysore Rock Benoît Gu...
576,"Is this Libellula needhami? Anyone, please hel...",[],libellula,-1,
577,* **Tricoloured Marsh Hawk ***Orthetrum luzoni...,"[2009-02-01 00:00:00+00:00, 2017-01-01 00:00:0...",orthetrum luzonicum,-1,Mysore Karnataka ID Dattaprasad
578,Agriocnemis Pygmaea - Pygmy Dartlet Home Garde...,[2018-01-01 00:00:00+00:00],agriocnemis pygmaea,-1,Pygmy let Home Garden Mangalore Pygmaea
579,"*Orthetrum luzonicum * Home Garden, Mangalore...",[2018-10-01 00:00:00+00:00],orthetrum luzonicum,-1,Mangalore Oct
580,"I'd please Nov 2018 Bhilai, C.G.",[2018-11-01 00:00:00+00:00],-1,-1,Bhilai
581,Trithemis pallidinervis ? Bhandup pumping sta...,[2019-09-07 00:00:00+00:00],trithemis pallidinervis,-1,Mumbai
582,* **Ditch Jewel ***Brachythemis contaminata*: ...,[2017-11-08 00:00:00+00:00],brachythemis contaminata,ditch jewel,Male Female Mysore
583,"Stream Glory(Neurobasis chinensis), Buxa Tiger...",[2017-08-01 00:00:00+00:00],neurobasis chinensis,stream glory,Alipurduar WB India Buxa Tiger Reserve
584,* **Yellow - Tailed Ashy Skimmer (Potamarcha c...,[2017-11-08 00:00:00+00:00],potamarcha congener,-1,Mysore Male Karnataka Female
585,More power to us and our partners #OdonataofIn...,[],-1,dragonflies,IndiaBiodiversityPortal NatureMates DiversityI...
586,Scarlet Skimmer (Crocothemis servilia) - Male....,[2019-07-07 00:00:00+00:00],crocothemis servilia,scarlet skimmer,Male Alibag Taluka Raigad District Kurul
587,Id please Durgapur : West Bengal 02/08/2018,[2018-02-08 00:00:00+00:00],-1,-1,Durgapur Id
588,Black-tipped Flash Wing or Black -tipped Fores...,[2019-06-01 00:00:00+00:00],vestalis apicalis,-1,Parambikulam Tiger Reserve _apicalis _tipp...
589,* Rhyothemis variegata COMMON PICTURE WING (F)...,[2019-07-01 00:00:00+00:00],rhyothemis variegata,common picture wing,Tumkur Dt Kunigal Doddakere Karnataka COMMON
590,id updated : Tholymis tillarga (Coral tailed ...,[2019-07-01 00:00:00+00:00],tholymis tillarga,-1,Bankura Coral
591,id updated : Macrogomphus montanus (Female) ...,[2019-07-01 00:00:00+00:00],macrogomphus montanus,-1,Bankura Female
592,"Id request please? Karimganj forest track, As...",[2019-05-30 00:00:00+00:00],-1,-1,Assam India Id
593,id updated : Pseudagrion spencei Bankura : we...,[2019-03-07 00:00:00+00:00],pseudagrion spencei,-1,Bankura
594,"Coromandal marsh dart? Trivandrum, Kerala. Jun...",[2019-06-01 00:00:00+00:00],-1,-1,Kerala
595,"ID please Trivandrum, Kerala. June 2019",[2019-06-01 00:00:00+00:00],-1,-1,Triv rum Kerala
596,"Lyriothemis bivittata Buxa Tiger Reserve, Alip...",[2012-03-01 00:00:00+00:00],lyriothemis bivittata,-1,Alipurduar WB India Buxa Tiger Reserve
597,id please Babkura : West Bengal 30-06-2019,[2019-06-30 00:00:00+00:00],-1,-1,Babkura
598,id updated : Prodasineura verticalis Babkura ...,[2019-06-30 00:00:00+00:00],prodasineura verticalis,-1,Babkura
599,id updated : Anax ephippiger Bankura : West...,[2019-06-29 00:00:00+00:00],anax,-1,Bankura

## Add Places

In [42]:
places=pd.read_csv("Places.csv")
for i in range(0,places.shape[0]):
    s=places["PLACE"].iloc[i]
    result=''.join([i for i in s if not i.isdigit()])
    places["PLACE"].iloc[i]=result
places["PLACE"]=places["PLACE"].str.split(",")
allplaces=[]
for i in range(0,places.shape[0]):
    for j in places["PLACE"].iloc[i]:
        allplaces.append(j)
len(allplaces)

2228

## Add Districts

In [30]:
districts=pd.read_csv("districts.csv")
dist_list=[]
for i in districts["Adilabad"]:
    dist_list.append(i)
len(dist_list)

636

In [31]:
xdata=pd.read_csv("data_600.csv")

In [38]:
for i in range(0,len(dist_list)):
    xdata[dist_list[i]]=xdata["feed__data__message"].str.find(dist_list[i])
#xdata

In [37]:
dataq=xdata.iloc[:,6:]
listt2=dataq.columns
#dataq.head()

In [35]:
fdata["District"]=fdata["feed__data__message"].str.find("vestalis gracilis")
for i in range(0,584):
    for j in listt2:
        if dataq[j].iloc[i] >= 0:
            fdata["District"].iloc[i]=j

In [39]:
ldata=pd.read_csv("data_600.csv")

In [43]:
for i in range(0,len(allplaces)):
    ldata[allplaces[i]]=ldata["feed__data__message"].str.find(allplaces[i])
#ldata

,feed__data__message,feed__data__updated_time,feed__data__id,feed__paging__previous,feed__paging__next,id,Ratnagiri,KBR National Park Hyderabad India,virajpet,india,...,Karimnagar,Virar,Thiruvancherry Rd,Near Flyover Bridge,Peddapalli Road,Azad Chowk,Ganapathi Nagar,Hussainipura,Shyamkhola,Chalmeda Anand Rao Institute of Medical Sciences
0,Emerald Spreadwing\n(Lestes elatus)\n@Mayiladu...,2020-03-08T09:07:54+0000,216593478390203_2826344457415079,https://graph.facebook.com/v6.0/21659347839020...,https://graph.facebook.com/v6.0/21659347839020...,2.165935e+14,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,Id please.Near Mudigere.Chikmagalur district.F...,2020-03-02T08:26:03+0000,216593478390203_2814611288588396,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,*\n***Light-tipped Demon** (Male dragonfly)*\n...,2020-02-29T05:49:29+0000,216593478390203_2810300375686154,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,Clear winged Forest Glory - Vestalis gracilis\...,2020-02-28T07:47:34+0000,216593478390203_2809201745796017,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,Id please\n\nLocation - balurghat ... D/Dinajp...,2020-02-27T18:22:34+0000,216593478390203_2807086776007514,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
5,"Black-Tailed Dasher\n\nBrachydiplax farinosa, ...",2020-02-27T12:53:29+0000,216593478390203_2799390546777137,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
6,"Ceriagrion sp. \n\nRaimatang, Alipurduar distr...",2020-02-27T12:52:50+0000,216593478390203_2799438600105665,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
7,My little contribution in Indian Odonatology\n...,2020-02-26T17:29:36+0000,216593478390203_2805713046144887,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
8,Id please,2020-02-26T12:54:59+0000,216593478390203_2805292246186967,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
9,[Green Marsh Hawk (Orthetrum sabina)](https://...,2020-02-24T17:36:12+0000,216593478390203_2799433920106133,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
10,Id please.\nPlace. Pune maharashtra\nDate. Nov...,2020-02-24T05:11:31+0000,216593478390203_2800575629991962,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
11,"ID Please, Shendurney Wildlife Sanctuary, Kera...",2020-02-22T13:58:36+0000,216593478390203_2796074960442029,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
12,Stream Glory (Neurobasis chinensis)\n\nTrail a...,2020-02-22T13:22:55+0000,216593478390203_2795951220454403,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
13,"Crimson Dropwing (Trithemis aurora), female\n\...",2020-02-22T02:19:32+0000,216593478390203_2782624245120434,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
14,Yellow-tailed Ashy Skimmer (Potamarcha congene...,2020-02-22T02:18:02+0000,216593478390203_2795956087120583,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
15,Black Stream Glider (Trithemis festiva)\n\nKol...,2020-02-20T16:27:33+0000,216593478390203_2790026587713533,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
16,"Brown-backed Red Marsh Hawk, (Orthetrum chrysi...",2020-02-20T04:19:43+0000,216593478390203_2792008510848674,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
17,Black Stream Glider (Trithemis festiva)\n\nTho...,2020-02-20T04:17:39+0000,216593478390203_2792000254182833,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
18,Stream Glory (Neurobasis chinensis)\n\nThodika...,2020-02-19T16:47:44+0000,216593478390203_2791167617599430,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
19,"Crimson Dropwing (Trithemis aurora), female\n\...",2020-02-19T16:14:04+0000,216593478390203_2790905510958974,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
20,Scarlet Skimmer (Crocothemis servilia)\n\nKoll...,2020-02-19T14:55:56+0000,216593478390203_2790887054294153,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
21,Tandem posture of Saffron-faced Blue Dart... (...,2020-02-19T10:00:47+0000,216593478390203_2790270751022450,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
22,NaN,2020-02-19T05:52:20+0000,216593478390203_2790083794374479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Crimson Marsh Glider (Trithemis aurora)\n\nTho...,2020-02-19T05:43:56+0000,216593478390203_2790028227713369,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
24,Diplacodes Trivialis \n\nID courtesy Antoine v...,2020-02-18T15:18:18+0000,216593478390203_2788861044496754,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
25,Diplacodes trivialis.....Coimbatore...Feb 20,2020-02-17T18:29:02+0000,216593478390203_2786789018037290,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
26,"Fulvous Forest Skimmer (Neurothemis fulvia), ...",2020-02-16T03:26:09+0000,216593478390203_2782537288462463,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
27,Valentine's Day Spcl...\nAppendages at the abd...,2020-02-13T16:37:55+0000,216593478390203_2778300042219521,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
28,Senegal Golden Dartlet (heteromorphic female)\...,2020-02-12T17:59:19+0000,216593478390203_2776282482421277,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
29,"Dragonfly\n\nF 5. 6, Iso 100, Shutter speed 1/...",2020-02-12T13:37:36+0000,216593478390203_2775640685818790,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,id updated : Tramea limbata\n\nKadma : Bankura...,2019-07-11T09:47:32+0000,216593478390203_2319910528058477,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
571,"* *Ischnura * mildredae, sometimes considered ...",2019-07-11T06:49:34+0000,216593478390203_1658607737522096,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
572,"ID request\nSeobagh, Kullu, Himachalpradesh 08...",2019-07-11T05:55:07+0000,216593478390203_521135604602654,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
573,"ID Request\nParshar Lake, Mandi, Himachal Prad...",2019-07-11T04:16:12+0000,216593478390203_521139171268964,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
574,* **Scarlet or Ruddy Marsh Skimmer** *Crocothe...,2019-07-11T01:22:15+0000,216593478390203_2317895278260002,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
575,* ***Scarlet Rock Glider **Trithemis kirbyi *m...,2019-07-10T11:56:13+0000,216593478390203_2317881124928084,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
576,"Is this Libellula needhami? Anyone, please hel...",2019-07-10T08:40:10+0000,216593478390203_2317953534920843,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
577,* **Tricoloured Marsh Hawk ***Orthetrum luzoni...,2019-07-10T05:07:54+0000,216593478390203_2317860041596859,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
578,Agriocnemis Pygmaea - Pygmy Dartlet\nHome Gard...,2019-07-09T18:13:40+0000,216593478390203_2317101558339374,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
579,"*Orthetrum luzonicum *\n\nHome Garden, Mangalo...",2019-07-09T16:14:55+0000,216593478390203_2311637372219126,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
580,"I'd please\nNov 2018\nBhilai, C.G.",2019-07-09T16:00:30+0000,216593478390203_2314890928560437,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
581,Trithemis pallidinervis ?\n\nBhandup pumping s...,2019-07-09T15:47:33+0000,216593478390203_2316789428370587,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
582,* **Ditch Jewel ***Brachythemis contaminata*: ...,2019-07-09T03:19:12+0000,216593478390203_2315964658453064,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
583,"Stream Glory(Neurobasis chinensis), Buxa Tiger...",2019-07-08T17:54:40+0000,216593478390203_2314828121900051,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
584,* **Yellow - Tailed Ashy Skimmer (Potamarcha c...,2019-07-08T07:55:03+0000,216593478390203_2314455931937270,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
585,More power to us and our partners #OdonataofIn...,2019-07-08T05:56:59+0000,216593478390203_2314295645286632,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
586,Scarlet Skimmer (Crocothemis servilia) - Male....,2019-07-07T14:23:25+0000,216593478390203_2313133845402812,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
587,Id please \n\nDurgapur : West Bengal\n\n02/08/...,2019-07-07T04:40:39+0000,216593478390203_2304658599583670,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
588,Black-tipped Flash Wing or Black -tipped Fores...,2019-07-06T12:33:40+0000,216593478390203_2311018182281045,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
589,* Rhyothemis variegata COMMON PICTURE WING (F)...,2019-07-06T04:20:33+0000,216593478390203_2310404719009058,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
590,id updated : Tholymis tillarga (Coral tailed ...,2019-07-05T16:59:09+0000,216593478390203_2308869982495865,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
591,id updated : Macrogomphus montanus (Female) \n...,2019-07-05T12:09:20+0000,216593478390203_2308880349161495,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
592,"Id request please?\n\nKarimganj forest track, ...",2019-07-05T11:46:15+0000,216593478390203_2264941240222073,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
593,id updated : Pseudagrion spencei\n\nBankura : ...,2019-07-04T18:27:16+0000,216593478390203_2307560275960169,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
594,"Coromandal marsh dart?\nTrivandrum, Kerala. Ju...",2019-07-03T06:08:18+0000,216593478390203_2303543736361823,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
595,"ID please\nTrivandrum, Kerala. June 2019",2019-07-02T20:02:40+0000,216593478390203_2303542219695308,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
596,"Lyriothemis bivittata\nBuxa Tiger Reserve, Ali...",2019-07-01T12:04:36+0000,216593478390203_2301638096552387,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
597,id please \n\nBabkura : West Bengal \n\n30-06-...,2019-07-01T09:26:42+0000,216593478390203_2300262083356655,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
598,id updated : Prodasineura verticalis\n\nBabkur...,2019-07-01T03:21:36+0000,216593478390203_2300263296689867,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
599,id updated : Anax ephippiger \n\nBankura : We...,2019-06-29T19:32:24+0000,216593478390203_2297601166956080,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [45]:
dataw=ldata.iloc[:,6:]
listt3=dataw.columns
#dataw.head()

In [48]:
fdata["Other matches for location"]=fdata["feed__data__message"].str.find("vestalis gracilis")
for i in range(0,584):
    for j in listt3:
        if dataw[j].iloc[i] >= 0:
            fdata["Other matches for location"].iloc[i]=j

In [49]:
fdata

,feed__data__message,feed__data__updated_time,species_name,Common Name,Location_list,District,Other matches for location
0,Emerald Spreadwing (Lestes elatus) @Mayiladuth...,[2020-01-01 00:00:00+00:00],lestes elatus,emerald spreadwing,Tamil Nadu India January,-1,Tamil Nadu
1,Id please.Near Mudigere.Chikmagalur district.F...,[2020-02-01 00:00:00+00:00],-1,-1,,-1,
2,* ***Light-tipped Demon** (Male dragonfly)* In...,[2020-02-29 00:00:00+00:00],"indothemis carnatica,",-1,Male Tamil Nadu Arajush P INDIA Chennai,Chennai,Tamil Nadu
3,Clear winged Forest Glory - Vestalis gracilis ...,[2020-02-01 00:00:00+00:00],vestalis gracilis,-1,Kudremukh Ranges Clear,-1,B
4,Id please Location - balurghat ... D/Dinajpur...,[2020-02-27 00:00:00+00:00],-1,-1,Id Location,-1,D
5,"Black-Tailed Dasher Brachydiplax farinosa, ma...",[2018-07-22 00:00:00+00:00],brachydiplax farinosa,-1,West India Barddhaman West Bengal,Durg,West Bengal
6,"Ceriagrion sp. Raimatang, Alipurduar distric...",[2019-11-01 00:00:00+00:00],ceriagrion,-1,Alipurduar Raimatang Bengal West,-1,West Bengal
7,My little contribution in Indian Odonatology ...,"[2020-02-26 00:00:00+00:00, 2016-01-10 00:00:0...",-1,dragonflies,Odonata Asansol Journal South Asia Threatene...,Durg,Durgapur
8,Id please,[],-1,-1,Id,-1,
9,[Green Marsh Hawk (Orthetrum sabina)](https://...,[2019-11-01 00:00:00+00:00],orthetrum sabina,green marsh hawk,Alipurduar Raimatang Bengal West,-1,West Bengal
10,Id please. Place. Pune maharashtra Date. Nov 2020,[2020-11-01 00:00:00+00:00],-1,-1,Id,Pune,D
11,"ID Please, Shendurney Wildlife Sanctuary, Kera...",[2019-12-01 00:00:00+00:00],-1,-1,India Shendurney Wildlife Kerala,-1,D
12,Stream Glory (Neurobasis chinensis) Trail alo...,[2019-11-01 00:00:00+00:00],neurobasis chinensis,stream glory,Jayanti Buxa Tiger Reserve,-1,B
13,"Crimson Dropwing (Trithemis aurora), female K...",[2019-12-01 00:00:00+00:00],trithemis aurora,crimson dropwing,Mangalore Western Ghats,Kollam,D
14,Yellow-tailed Ashy Skimmer (Potamarcha congene...,[2019-11-01 00:00:00+00:00],potamarcha congener,yellow-tailed ashy skimmer,Bengal Santalabari West Buxa Tiger Reserve,-1,West Bengal
15,Black Stream Glider (Trithemis festiva) Kolla...,[2019-12-01 00:00:00+00:00],trithemis festiva,black stream glider,Kollamogaru Mangalore Western Ghats,Kollam,D
16,"Brown-backed Red Marsh Hawk, (Orthetrum chrysi...",[2019-12-01 00:00:00+00:00],orthetrum chrysis,-1,Kollamogaru Mangalore Western Ghats,Kollam,D
17,Black Stream Glider (Trithemis festiva) Thodi...,[2019-12-01 00:00:00+00:00],trithemis festiva,black stream glider,Mangalore Thodikana,-1,D
18,Stream Glory (Neurobasis chinensis) Thodikana...,[2019-12-01 00:00:00+00:00],neurobasis chinensis,stream glory,Mangalore Muhamed Sherif ID Thodikana,-1,D
19,"Crimson Dropwing (Trithemis aurora), female K...",[2019-12-01 00:00:00+00:00],trithemis aurora,crimson dropwing,Mangalore Western Ghats,Kollam,D
20,Scarlet Skimmer (Crocothemis servilia) Kollam...,[2019-12-01 00:00:00+00:00],crocothemis servilia,scarlet skimmer,Kollamogaru Mangalore Western Ghats,Kollam,D
21,Tandem posture of Saffron-faced Blue Dart... (...,[2020-01-01 00:00:00+00:00],pseudagrion rubriceps,-1,T em Male,-1,D
23,Crimson Marsh Glider (Trithemis aurora) Thodi...,[2019-12-01 00:00:00+00:00],trithemis aurora,-1,Mangalore Thodikana,-1,-1
24,Diplacodes Trivialis ID courtesy Antoine van...,[2020-02-12 00:00:00+00:00],diplacodes trivialis,-1,Trivialis ID Kerala Kollam Dt. Antoine Heijden...,-1,D
25,Diplacodes trivialis.....Coimbatore...Feb 20,[2020-02-01 00:00:00+00:00],diplacodes trivialis,-1,,Kollam,Kerala
26,"Fulvous Forest Skimmer (Neurothemis fulvia), ...",[2019-12-01 00:00:00+00:00],urothemis,-1,Mangalore Fulvous,Coimbatore,D
27,Valentine's Day Spcl... Appendages at the abdo...,[2019-01-01 00:00:00+00:00],ceriagrion coromandelianum,coromandel marsh dart,Corom el Valentine Odonates,-1,D
28,Senegal Golden Dartlet (heteromorphic female) ...,[2020-01-01 00:00:00+00:00],ischnura senegalensis,-1,let Tamil Nadu Senegal,-1,D
29,"Dragonfly F 5. 6, Iso 100, Shutter speed 1/20...","[2020-12-02 00:00:00+00:00, None]",-1,-1,India Shutter,-1,D
30,request ID please....Palghat...Feb 20,[2020-02-01 00:00:00+00:00],-1,-1,,Pune,D
...,...,...,...,...,...,...,...
570,id updated : Tramea limbata Kadma : Bankura :...,[2019-11-07 00:00:00+00:00],tramea limbata,-1,Kadma,Bankura,West Bengal
571,"* *Ischnura * mildredae, sometimes considered ...",[2018-03-26 00:00:00+00:00],ischnura rufostigma,-1,Khonoma Nagal Shantanu Joshi Antoine Heijden,-1,
572,"ID request Seobagh, Kullu, Himachalpradesh 08....",[2013-08-06 00:00:00+00:00],-1,-1,Kullu Seobagh,-1,D
573,"ID Request Parshar Lake, Mandi, Himachal Prade...","[2006-01-01 00:00:00+00:00, 2013-01-01 00:00:0...",-1,-1,Request Parshar Lake Himachal Pradesh M i,-1,
574,* **Scarlet or Ruddy Marsh Skimmer** *Crocothe...,[2017-05-08 00:00:00+00:00],crocothemis servilia,ditch jewel,Mysore Ruddy KRS Karnataka Thanks Benoît Gui...,-1,D
575,* ***Scarlet Rock Glider **Trithemis kirbyi *m...,"[2009-02-01 00:00:00+00:00, 2017-01-01 00:00:0...",trithemis kirbyi,-1,Thanks Noppadon Makbun Mysore Rock Benoît Gu...,-1,B
576,"Is this Libellula needhami? Anyone, please hel...",[],libellula,-1,,Mysore,Mysore
577,* **Tricoloured Marsh Hawk ***Orthetrum luzoni...,"[2009-02-01 00:00:00+00:00, 2017-01-01 00:00:0...",orthetrum luzonicum,-1,Mysore Karnataka ID Dattaprasad,-1,D
578,Agriocnemis Pygmaea - Pygmy Dartlet Home Garde...,[2018-01-01 00:00:00+00:00],agriocnemis pygmaea,-1,Pygmy let Home Garden Mangalore Pygmaea,Kottayam,/
579,"*Orthetrum luzonicum * Home Garden, Mangalore...",[2018-10-01 00:00:00+00:00],orthetrum luzonicum,-1,Mangalore Oct,Mysore,Mysore
580,"I'd please Nov 2018 Bhilai, C.G.",[2018-11-01 00:00:00+00:00],-1,-1,Bhilai,Mysore,Mysore
581,Trithemis pallidinervis ? Bhandup pumping sta...,[2019-09-07 00:00:00+00:00],trithemis pallidinervis,-1,Mumbai,-1,D
582,* **Ditch Jewel ***Brachythemis contaminata*: ...,[2017-11-08 00:00:00+00:00],brachythemis contaminata,ditch jewel,Male Female Mysore,Mysore,D
583,"Stream Glory(Neurobasis chinensis), Buxa Tiger...",[2017-08-01 00:00:00+00:00],neurobasis chinensis,stream glory,Alipurduar WB India Buxa Tiger Reserve,-1,D
584,* **Yellow - Tailed Ashy Skimmer (Potamarcha c...,[2017-11-08 00:00:00+00:00],potamarcha congener,-1,Mysore Male Karnataka Female,-1,D
585,More power to us and our partners #OdonataofIn...,[],-1,dragonflies,IndiaBiodiversityPortal NatureMates DiversityI...,-1,-1
586,Scarlet Skimmer (Crocothemis servilia) - Male....,[2019-07-07 00:00:00+00:00],crocothemis servilia,scarlet skimmer,Male Alibag Taluka Raigad District Kurul,Bankura,West Bengal
587,Id please Durgapur : West Bengal 02/08/2018,[2018-02-08 00:00:00+00:00],-1,-1,Durgapur Id,-1,D
588,Black-tipped Flash Wing or Black -tipped Fores...,[2019-06-01 00:00:00+00:00],vestalis apicalis,-1,Parambikulam Tiger Reserve _apicalis _tipp...,Kullu,D
589,* Rhyothemis variegata COMMON PICTURE WING (F)...,[2019-07-01 00:00:00+00:00],rhyothemis variegata,common picture wing,Tumkur Dt Kunigal Doddakere Karnataka COMMON,Mandi,D
590,id updated : Tholymis tillarga (Coral tailed ...,[2019-07-01 00:00:00+00:00],tholymis tillarga,-1,Bankura Coral,Mysore,D
591,id updated : Macrogomphus montanus (Female) ...,[2019-07-01 00:00:00+00:00],macrogomphus montanus,-1,Bankura Female,Mysore,D
592,"Id request please? Karimganj forest track, As...",[2019-05-30 00:00:00+00:00],-1,-1,Assam India Id,-1,
593,id updated : Pseudagrion spencei Bankura : we...,[2019-03-07 00:00:00+00:00],pseudagrion spencei,-1,Bankura,Mysore,D
594,"Coromandal marsh dart? Trivandrum, Kerala. Jun...",[2019-06-01 00:00:00+00:00],-1,-1,Kerala,-1,D
595,"ID please Trivandrum, Kerala. June 2019",[2019-06-01 00:00:00+00:00],-1,-1,Triv rum Kerala,-1,
596,"Lyriothemis bivittata Buxa Tiger Reserve, Alip...",[2012-03-01 00:00:00+00:00],lyriothemis bivittata,-1,Alipurduar WB India Buxa Tiger Reserve,-1,B
597,id please Babkura : West Bengal 30-06-2019,[2019-06-30 00:00:00+00:00],-1,-1,Babkura,-1,B
598,id updated : Prodasineura verticalis Babkura ...,[2019-06-30 00:00:00+00:00],prodasineura verticalis,-1,Babkura,Mysore,D
599,id updated : Anax ephippiger Bankura : West...,[2019-06-29 00:00:00+00:00],anax,-1,Bankura,-1,B

In [50]:
fdata.to_csv("process.csv")

In [ ]:
g=geocoder.google('Mountain View, CA',key="AIzaSyDK6lrFnUkTgOfXYCV-8wmDRcOQ3P23OIQ")
print(g)

In [ ]:
'''
st = StanfordNERTagger('classifiers/english.all.3class.distsim.crf.ser.gz')
#st = StanfordNERTagger('classifiers/english.conll.4class.distsim.crf.ser.gz')
entry=[]
for i in range(0,5):
    print("Completed:",i,"/ 584\n")
    #print(fdata["feed__data__message"].iloc[i])
    location_tuple=st.tag(fdata["feed__data__message"].iloc[i].split())
    entry=[]
    for x in range(0,len(location_tuple)):
        if location_tuple[x][1] == 'LOCATION':
            #print(location_tuple[x][0])
            entry.append(location_tuple[x][0])
    fdata["Location_list"].iloc[i]=entry
'''

In [ ]:
fdata.to_csv("semi.csv")